---
layout: default
---
<div class="page-content">
  <div class="wrapper">
    <div class="post">

      <h1>Side Projects</h1>

      <article id="post_content" class="post-content" style=" ">

        <p>개인적으로 진행한 프로젝트들을 기록합니다.</p>
        <p>일단, 나름 출시(?)를 하고 사용자를 만들어본 프로젝트에 대해서만 기록합니다.</p>


        <h1 id="blind-date">Blind Date</h1>

        <img class="imgTitle" src="https://lh3.googleusercontent.com/DmgMzZ7DPwpxbFaxw06ydruPNyghpt8vJ_yKCo8ics6KQF9xeaZ6RG-awDKUHMqeiz0=w300">
        <br/>
        <br/>

        <ul>
          <li>Google Play : <a href="https://play.google.com/store/apps/details?id=com.dveamer.blinddate">https://play.google.com/store/apps/details?id=com.dveamer.blinddate</a></li>
          <li>2015.08 ~ 2017.10</li>
          <li>다운로드 수 : 50 이상 (2017.11 기준)</li>
          <li>현재 사용자가 없음에도 EC2 비용이 발생해서 Google Play에서 게시중지시켜 둠 (2017.10 기준)</li>
        </ul>

        <p>사용자가 주선자가 되어 지인과 지인을 연결시켜주는 소개팅 앱 입니다. </p>
        <p>실제 오프라인 소개팅을 온라인으로 옮겨두었다고 보면 되지만 소개받은 지인들은 주선자가 누군지 알 수 없다는 것이 앱의 특징입니다.</p>
        <p>친구에게 소개팅을 시켜줬다가 결과가 좋지 않았던 것을 잊지 못하는 소심한 개발자는</p>
        <p>자신의 존재를 노출하지 않고 서로 잘 어울릴 것 같은 두 사람에게 대화의 기회를 만들어 주기 위해 앱을 만들었지만....</p>
        <p>아무도 앱을 깔지 않아서 소개팅을 시켜주지 못했다는 슬픈사연이...</p>

        <h2 id="section">사용된 기술</h2>

        <ul>
          <li>환경 : AWS VPC, EC2, Ubuntu</li>
          <li>Front-End : Android Java</li>
          <li>Back-End : Java, Socket, HTTP, Spring Boot Framework, Netty Framework, MariaDB</li>
          <li>구성 : Manager Server, Chatting Server, Push Server</li>
        </ul>




        <h1 id="perfect-trainer">Perfect Trainer</h1>

        <img class="imgTitle" src="https://lh3.googleusercontent.com/S9jtmDIv013LFY971gFA36mOYoKleo5iu-GT6lT2BbDzSbCvsriG3L7D1IQ5ZZ5SJw=w300">
        <br/>
        <br/>

        <ul>
          <li>Google Play : <a href="https://play.google.com/store/apps/details?id=com.dveamer.perfecttrainer">https://play.google.com/store/apps/details?id=com.dveamer.perfecttrainer</a></li>
          <li>게시기간 : 2017.02 ~ </li>
          <li>다운로드 수 : 1,000 이상 (2017.11 기준)</li>
        </ul>

        <p>등록해둔 포켓몬고(Pokemon Go) 몬스터가 주변에 나타나면 알람을 주는 앱입니다.</p>
        <p>망나뇽이 나타났다는 소식에 일하다 말고 회사동료들과 사무실 주변을 열심히 뛴적이 있었습니다.</p>
        <p>'망나뇽이 뭐라고 우리가 이렇게 뛰고 있지?'</p>
        <p>라는 의문이 들었지만, 그 순간 느꼈던 짜릿함은 잊을 수 없었습니다.</p>
        <p>회사에서 놀려고 만든건 아니고.. 그 짜릿함을 더 느껴보기 위해 만들었다는 핑계.......</p>
        <p>의외로 자녀분들을 위해 희귀 몬스터를 찾아 떠나시는 과장님들이 선호했다는....</p>


        <h2 id="section">사용된 기술</h2>

        <ul>
          <li>환경 : AWS Lambda</li>
          <li>Front-End : Android Java</li>
          <li>Back-End : Python, AWS DynamoDB</li>
        </ul>




        <h1 id="perfect-trainer">OW Friends</h1>

        <img class="imgTitle" src="https://lh3.googleusercontent.com/DB7QF5c5b6n5uLWpCzGo8ZtWOavIVotAvvhgmLeGOL8wTv4AwU16s41QiNTrDlKtLMM=w300">
        <br/>
        <br/>

        <ul>
          <li>Google Play : <a href="https://play.google.com/store/apps/details?id=com.dveamer.owfriends">https://play.google.com/store/apps/details?id=com.dveamer.owfriends</a></li>
          <li>2017.02 ~ </li>
          <li>다운로드 수 : 1,000 이상 (2017.11 기준)</li>
        </ul>

        <p>오버워치(Over Watch) 게임 점수 갱신시 알림을 주는 앱입니다.</p>
        <p>원래는 회사 동료들이 게임에 접속하면 같이 접속하기 위해 만들기 시작했는데....</P>
        <p>원천적으로 불가능한 문제가 있어서 목적이 변경 된 앱이 탄생했습니다.</p>
        <p>회사 동료가 늦잠자서 반차썼을 때 게임했는지 하지 않았는지 감시하고 놀려먹기 위한 앱으로 변질됐다는.....</p>
        <p>나중에 회사 동료의 부주의로 회사 상사에게 앱이 노출되어 회사에서 피곤하다고 말도 못 꺼냈다는.......</p>
        <p>지인의 게임 점수가 변동되면 알림을 주고 그 내용을 그래프로 기록해줍니다. 대화방 기능도 있습니다.</p>

        <p></p>


        <h2 id="section">사용된 기술</h2>

        <ul>
          <li>환경 : AWS Lambda</li>
          <li>Front-End : Android Java</li>
          <li>Back-End : Python, AWS DynamoDB</li>
        </ul>




        <h1 id="bg-log">BG Log</h1>

        <img class="imgTitle" src="https://lh3.googleusercontent.com/0ixqBsJvTIbdo22rKEsV7LkXddmZHtlcHK1DgGD9yxpvR43wfB41GSnLqq-lf_Xhlu4O=h310">
        <br/>
        <br/>

        <ul>
          <li>Google Play : <a href="https://play.google.com/store/apps/details?id=com.dveamer.pubglog">https://play.google.com/store/apps/details?id=com.dveamer.pubglog</a></li>
          <li>2017.09 ~ </li>
          <li>다운로드 수 : 10,000 이상 (2017.11 기준)</li>
        </ul>

        <p>배틀그라운드(PUBG / Battle Grounds) 게임 점수 갱신시 알림을 주는 앱입니다.</p>
        <p>에이밍이 좋지 않은 회사 동료들은 해당 게임을 하지 않지만</p>
        <p>한명의 회사 동료가 한다길래.. 그 한명을 감시하고 놀려먹기 위한 만들었다는........</p>
        <p>지인의 게임 점수가 변동되면 알림을 주고 그 내용을 그래프로 기록해줍니다. 대화방 기능도 있습니다.</p>


        <h2 id="section">사용된 기술</h2>

        <ul>
          <li>환경 : AWS Lambda</li>
          <li>Front-End : Android Java</li>
          <li>Back-End : Python, AWS DynamoDB</li>
        </ul>


      </article>

      <div class="subtitle-header">
        <h3 class="subtitle">
          Associated Posts
        </h3>
        <small>관련된 주제를 살펴볼 수 있도록 동일한 Tag를 가진 글들을 모아뒀습니다. 제목을 눌러주세요.</small><br>
      </div>
      <ul class="post-list">
        {% for post in site.categories.Side-Projects %}
          <li>
            <br>
            <h3>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>

            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <span class="post-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span class="post-meta disqus-comment-count" 
              {% if post.identifier.size > 0 %} data-disqus-identifier="{{ post.identifier }}" {% endif %}
              data-disqus-url="{{ site.disqus_domain }}{{ post.url | prepend: site.baseurl }}">0 Comments</span>

            <hr id="line">
	        <div class="content">
	        {{ post.excerpt }}
            </div>
            <div>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">... read more</a>
            </div>
	        <br>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>




