<br/><br/>


<div class="subtitle-header">
  <h3 class="subtitle">
    Break Time ~ ❤
  </h3>
  <small>제가 작성한 글이 작게라도 도움이 되었기를 바랍니다.</small><br>
  <small>짧지 않은 글을 읽으시느라 힘드셨을 것 같아서 잠깐의 휴식시간 만들어봤습니다 ^^</small><br><br>
  <small>이 글에 관심가져 주시고 끝까지 읽어주시는 분들이 있는 것을 느끼고 힘내기 위해서 이기도 합니다.</small><br>
  <small>구매까지는 아니더라도 광고에 호응해주시면 심리적으로 제겐 많은 도움이 됩니다 ^^</small><br>
</div>
<br/>


<div class="deactive" id="ad_coupang_00">
  <a href="https://coupa.ng/bgpyhM" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/67625c9e26f32d47115efa2f93bfb379@2x.jpg" alt="메모리폼 자세교정 ..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyp8" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/c6c7593e35ea40f806a2c787af556b63@2x.jpg" alt="크레용신짱 짱구 일..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpysz" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/672920b15d115f67daaa2d5c354b0b8@2x.jpg" alt="투썬빌리지 발이 편..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpytD" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/b703d02a2f6b513cff4a4b46a1dbd363@2x.jpg" alt="[해외] 61 키 ..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpywM" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/6cfba5bad56f68bcad0ad359ca1bbabd@2x.jpg" alt="PFU 해피 해킹 ..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyx0" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/a4574db11129443ced7c7f29c84455de@2x.jpg" alt="토프레 Realfo..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyq1" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/4781fb15da4dad609733e3e3555530d8@2x.jpg" alt="(주)선우 3M 마..." width="120" height="240"></a>
</div>

<div class="deactive" id="ad_coupang_01">

  <a href="https://coupa.ng/bgpyxG" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/1f3a41e05824085f29810fc7eb57809e@2x.jpg" alt="리얼포스 동프리 키..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyxh" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/5909b8eda7eae6e89c56c883993703ca@2x.jpg" alt="레오폴드 FC750..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyqi" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/c03ae7129a50525d0bb60e8b5e4b17da@2x.jpg" alt="MONTIAN 고양..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyq1" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/4781fb15da4dad609733e3e3555530d8@2x.jpg" alt="(주)선우 3M 마..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyuW" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/7df56712331b706ab8b74b99faa37064@2x.jpg" alt="[해외] 탄소 67..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpytD" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/b703d02a2f6b513cff4a4b46a1dbd363@2x.jpg" alt="[해외] 61 키 ..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyrE" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/ba0275d2469e356f3dcc8b931973faaa@2x.jpg" alt="엘레컴 메모리폼 키..." width="120" height="240"></a>

</div>

<div class="deactive" id="ad_coupang_02">
  <a href="https://coupa.ng/bgpyxG" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/1f3a41e05824085f29810fc7eb57809e@2x.jpg" alt="리얼포스 동프리 키..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyeO" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/daf58b2eb5ec98a609d63ce284be2834@2x.jpg" alt="랜스타 기계식 손..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyon" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/ca2af24a6e3a9ad3cca17878eaf49d62@2x.jpg" alt="DGITEM 마우스..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpype" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/d7129e628353c41a52c2d3e0f2a544fe@2x.jpg" alt="레토지엠에스 원피스..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpysk" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/7505c62b089c8cd011c0be5734d7e2df@2x.jpg" alt="에코DIY 원목 발..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyf2" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/7d0808849aa0ce029a76f28aa3e322e0@2x.jpg" alt="미르직구 LOFRE..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyBb" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/85b45c08159212fcf0410f5dbec3d5f6@2x.jpg" alt="애니나라 헬로캣 마..." width="120" height="240"></a>
</div>

<div class="deactive" id="ad_coupang_03">
  <a href="https://coupa.ng/bgpyBb" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/85b45c08159212fcf0410f5dbec3d5f6@2x.jpg" alt="애니나라 헬로캣 마..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpype" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/d7129e628353c41a52c2d3e0f2a544fe@2x.jpg" alt="레토지엠에스 원피스..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpywr" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/542418df6af665b8dda81feb79649a4d@2x.jpg" alt="PFU Happy ..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpywB" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/dd93ab174aa17ffb6339c2e8941de0de@2x.jpg" alt="PFU Happy ..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyrv" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/432f2c02241882603ff6d74e8b5ac6cd@2x.jpg" alt="팔걸이 마우스패드 ..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyp3" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/6cdb0e2be84a9f5cca5ad3f5d5624c4c@2x.jpg" alt="크리스탈 젤 미니 ..." width="120" height="240"></a>

  <a href="https://coupa.ng/bgpyrU" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/banner/a59c51679ba2bf20e12888d6659d5549@2x.jpg" alt="애니나라 헬로캣 마..." width="120" height="240"></a>

</div>

<script>
  var randValue = Math.floor((Math.random() * 10)) % 4;
  var adCoupang = document.getElementById("ad_coupang_0"+randValue);
  adCoupang.className = "active";
</script>




<!-- post_bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1213240297656328"
     data-ad-slot="3116585373"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


