<br/><br/>

<!--
<div class="subtitle-header">
  <h3 class="subtitle">
    Break Time ~ ❤
  </h3>
  <small>I hope this article has been helpful to you.</small><br>
  <small>I thought you had a hard time reading a long post, so I prepared a short break :)</small><br><br>
  <small>Please respond to the ads, even if you do not purchase.</small><br>
  <small>It help me know that you have been interested in this post and have read this post to the end.</small><br>
  <small>It make me cheer up. Thank you!</small><br>
</div>

<br/>
<br/>
-->

<!-- post_bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1213240297656328"
     data-ad-slot="3963543437"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<br/>
