

  <div id="index_popup" class="popup" hidden>
    </br>
    <div id="toc">
      <div class="subtitle-header">
        <h3 class="subtitle">
          I N D E X
        </h3>
      </div>
      <br/>
      <ul class="post-list"></ul>
      <br/>
    </div>

    <div id="associated_posts">
      <div class="subtitle-header">
        <h3 class="subtitle">
          Associated Posts
        </h3>
      </div>
      <br/>
      <ul class="post-list">
        {% for post in site.posts %}  
          {% assign exist = false %}

          {% if post.title == page.title %}
            {% assign exist = true %}
          {% endif %}

          {% for post_tag in post.tags %}
            {% for page_tag in page.tags %}
              {% if exist == true %}
                {% break %}
              {% endif %}
              {% if page_tag == post_tag %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% assign exist = true %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </ul>
      <br/>
    </div>
  </div>

<script type="text/javascript">
 $(document).ready(function(){
    var tag = null;

    //$("h1,h2,h3,h4,h5,h6").not(".subtitle").not(".post-title").not(".index")
    $("article.post-content").find("h1,h2,h3,h4,h5,h6")
    .each(function(i,item){
      if( $(item).html() != "Reference" && $(item).html() != "References" ){
        tag = $(item).get(0).localName;
        $(item).attr("id",$(this).text());
        $("#toc ul").append('<li><a class="new'+tag+'" href="#'+$(this).text()+'">'+$(this).text()+'</a></li>');
      }
    });

    if(tag !=null ){
      $(".newh1").css("margin-left",0);
      $(".newh2").css("margin-left",20);
      $(".newh3").css("margin-left",40);
      $(".newh4").css("margin-left",60);
      $(".newh5").css("margin-left",80);
      $(".newh6").css("margin-left",100);

      //$("#toc").attr('hidden', false);
    }
 });


  $(function(){
      $("#goindex").click(function(event){
        $("#index_popup").bPopup();
        //$("#index_popup").show();
      });
  });

</script>


<div id="goindex">i</div>

