<!DOCTYPE html>
<html>    
  {% include head.html %}

  <body>
    {% include header.html %}
    <br/>

    {% include float_right.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}

<!--        {% include donations.html %} -->

        {% include ads_en.html %}

        {% include associated_en.html %}

<!--        {% include disqus.html %} -->
      </div> <!-- wrapper -->
    </div> <!-- page-content -->

    {% include footer.html %}
    
    {% include post_index.html %}
  </body>

</html>
