---
layout: default
---
<div class="post">
  <br>
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}
      {% if page.author %} • {{ page.author }}{% endif %}
      {% if page.meta %} • {{ page.meta }}{% endif %}
      <!-- {% if page.categories %} • {{ page.categories }} {% endif %} -->

      <span class="post-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <span class="post-meta disqus-comment-count" 
        {% if page.identifier.size > 0 %} data-disqus-identifier="{{ page.identifier }}" {% endif %}
        data-disqus-url="{{ site.disqus_domain }}{{ page.url | prepend: site.baseurl }}">0 Comments</span>

      {% if page.categories.size > 0 %}
          <span class="post-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          {% for category in page.categories %}
            <span class="post-meta">{{ category }}</span>
            &nbsp;
          {% endfor %}
      {% endif %}

      {% if page.tags.size > 0 %}
          <span class="post-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          {% for tag in page.tags %}
            <span class="post-meta">{{ tag }}</span>
            &nbsp;
          {% endfor %}
      {% endif %}

      <span class="post-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <span class="post-meta" id="identifier">☛</span>

    </p>

  </header>

  <div id="toc" hidden>
    <H3 class="index">== I N D E X ==</H3>
  </div>
  <br/><br/>


  <article class="post-content">
    {{ content }}
  </article>
</div>

<br/>
<div class="subtitle-header">
  <h3 class="subtitle">
    Disqus Social Community
  </h3>
  <small>SNS계정으로 댓글을 달아도 SNS에 글이 남지 않습니다.</small><br>
  <small>이메일 주소 입력으로 글을 남길 수 있으며, 답변이 달리면 이메일로 알림을 받을 수 있습니다.</small><br>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var identifier = (function(){
        return getIdentifier('{{ page.identifier }}', '{{ page.date | date: "%Y%m%d" }}', '{{ page.title }}' );
    })();

    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '{{ site.disqus_comment_username }}';
    
    var disqus_config = function () {
        this.page.url = '{{ site.disqus_domain }}{{ page.url | prepend: site.baseurl }}';
        this.page.identifier = identifier;
    };

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

    // set a button checking identifier 
    $(document).ready(function(){
        $("#identifier").bind("click", function(){
            $(this).html(identifier);
        });
    });
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<script type="text/javascript">
 $(document).ready(function(){
    var tag = null;
    $("h1,h2,h3,h4,h5,h6").not(".subtitle").not(".post-title").not(".index").each(function(i,item){
      if( $(item).html() != "Reference" && $(item).html() != "References" ){
        tag = $(item).get(0).localName;
        $(item).attr("id",$(this).text());
        $("#toc").append('<a class="new'+tag+'" href="#'+$(this).text()+'">'+$(this).text()+'</a></br>');
      }
    });

    if(tag !=null ){
      $(".newh1").css("margin-left",0);
      $(".newh2").css("margin-left",20);
      $(".newh3").css("margin-left",40);
      $(".newh4").css("margin-left",60);
      $(".newh5").css("margin-left",80);
      $(".newh6").css("margin-left",100);

      $("#toc").attr('hidden', false);
    }
 });
</script>
