---
layout: default
---
<div class="post">
  <br>
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}
      {% if page.author %} • {{ page.author }}{% endif %}
      {% if page.meta %} • {{ page.meta }}{% endif %}
      <!-- {% if page.categories %} • {{ page.categories }} {% endif %} -->

      <span class="post-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <span class="post-meta disqus-comment-count" 
        {% if page.identifier.size > 0 %} data-disqus-identifier="{{ page.identifier }}" {% endif %}
        data-disqus-url="{{ site.disqus_domain }}{{ page.url | prepend: site.baseurl }}">0 Comments</span>

      {% if page.categories.size > 0 %}
          <span class="post-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          {% for category in page.categories %}
            <span class="post-meta">{{ category }}</span>
            &nbsp;
          {% endfor %}
      {% endif %}

      {% if page.tags.size > 0 %}
          <span class="post-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          {% for tag in page.tags %}
            <span class="post-meta">{{ tag }}</span>
            &nbsp;
          {% endfor %}
      {% endif %}

      <span class="post-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <span class="post-meta" id="identifier">☛</span>

    </p>

  </header>

  <div id="index_popup" hidden>
    </br>
    <div id="toc">
      <div class="subtitle-header">
        <h3 class="subtitle">
          I N D E X
        </h3>
      </div>
      <br/>
      <ul class="post-list"></ul>
      <br/>
    </div>

    <div id="associated_posts">
      <div class="subtitle-header">
        <h3 class="subtitle">
          Associated Posts
        </h3>
      </div>
      <br/>
      <ul class="post-list">
        {% for post in site.posts %}  
          {% assign exist = false %}

          {% if post.title == page.title %}
            {% assign exist = true %}
          {% endif %}

          {% for post_tag in post.tags %}
            {% for page_tag in page.tags %}
              {% if exist == true %}
                {% break %}
              {% endif %}
              {% if page_tag == post_tag %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% assign exist = true %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </ul>
      <br/>
    </div>
  </div>


  {% assign content_array = page.content | split: site.excerpt_separator %}
  {% assign excerpt_only = content_array | first %}
  {% assign content_remainder = content_array | last %}


  <article id="post_excerpt" class="post-content" style="{% if page.background %} background-image: url('{{ page.background }}'); {% endif %} {% if page.style %} {{ page.style }} {% endif %}">
    {{ excerpt_only | append: '</p>'}}
  </article>


  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- post_bottom2 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1213240297656328"
       data-ad-slot="3963543437"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <article id="post_content" class="post-content" style="{% if page.background %} background-image: url('{{ page.background }}'); {% endif %} {% if page.style %} {{ page.style }} {% endif %}">
    {{ content_remainder | remove_first: '</p>'}}
  </article>
</div>

<br/><br/>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- post_bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1213240297656328"
     data-ad-slot="3116585373"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<br/>

<div class="subtitle-header">
  <h3 class="subtitle">
    Associated Posts
  </h3>
  <small>관련된 주제를 살펴볼 수 있도록 동일한 Tag를 가진 글들을 모아뒀습니다. 제목을 눌러주세요.</small><br>
</div>

<div class="associated_posts">
  <ul class="post-list">
    {% assign tag_count = 0 %}

    {% for post in site.posts %}  
      {% assign exist = false %}

      {% if post.title == page.title %}
        {% assign exist = true %}
      {% endif %}

      {% for post_tag in post.tags %}
        {% for page_tag in page.tags %}
          {% if exist == true %}
            {% break %}
          {% endif %}
          {% if page_tag == post_tag %}
            <li>
              <br/>
              <h3>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h3>

              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <span class="post-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
              <span class="post-meta disqus-comment-count" 
                {% if post.identifier.size > 0 %} data-disqus-identifier="{{ post.identifier }}" {% endif %}
                data-disqus-url="{{ site.disqus_domain }}{{ post.url | prepend: site.baseurl }}">0 Comments</span>

              {% if post.categories.size > 0 %}
                <span class="post-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                {% for category in post.categories %}

                  {% if forloop.index < 4 %}
                    <span class="post-meta">{{ category | capitalize }}</span>
                  {% elsif forloop.index == 4 %}
                    <span class="post-meta">...</span>
                  {% endif %}
                {% endfor %}
              {% endif %}

              {% if post.tags.size > 0 %}
                <span class="post-meta">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                {% for tag in post.tags %}
                  {% if forloop.index < 4 %}
                    <span class="post-meta">{{ tag }}</span>
                  {% elsif forloop.index == 4 %}
                    <span class="post-meta">...</span>
                  {% endif %}
                {% endfor %}
              {% endif %}

              <hr id="line">

            {% if tag_count <= 2 %} 
              <div class="content">
              {{ post.excerpt }}
              </div>
              <div>
              ... <a href="{{ post.url }}">더 읽기</a>
              </div>

            {% endif %}

            </li>

            {% assign exist = true %}
            {% assign tag_count = tag_count | plus: 1 %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>


<br/>
<br/>


<div class="subtitle-header">
  <h3 class="subtitle">
    Disqus Social Community
  </h3>
  <small>SNS계정으로 댓글을 달아도 SNS에 글이 남지 않습니다.</small><br>
  <small>이메일 주소 입력으로 글을 남길 수 있으며, 답변이 달리면 이메일로 알림을 받을 수 있습니다.</small><br>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var identifier = (function(){
        return getIdentifier('{{ page.identifier }}', '{{ page.date | date: "%Y%m%d" }}', '{{ page.title }}' );
    })();

    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '{{ site.disqus_comment_username }}';
    
    var disqus_config = function () {
        this.page.url = '{{ site.disqus_domain }}{{ page.url | prepend: site.baseurl }}';
        this.page.identifier = identifier;
    };

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

    // set a button checking identifier 
    $(document).ready(function(){
        $("#identifier").bind("click", function(){
            $(this).html(identifier);
        });
    });
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<script type="text/javascript">
 $(document).ready(function(){
    var tag = null;

    //$("h1,h2,h3,h4,h5,h6").not(".subtitle").not(".post-title").not(".index")
    $("article.post-content").find("h1,h2,h3,h4,h5,h6")
    .each(function(i,item){
      if( $(item).html() != "Reference" && $(item).html() != "References" ){
        tag = $(item).get(0).localName;
        $(item).attr("id",$(this).text());
        $("#toc ul").append('<li><a class="new'+tag+'" href="#'+$(this).text()+'">'+$(this).text()+'</a></li>');
      }
    });

    if(tag !=null ){
      $(".newh1").css("margin-left",0);
      $(".newh2").css("margin-left",20);
      $(".newh3").css("margin-left",40);
      $(".newh4").css("margin-left",60);
      $(".newh5").css("margin-left",80);
      $(".newh6").css("margin-left",100);

      //$("#toc").attr('hidden', false);
    }
 });
</script>


<div id="goindex">i</div>










